{% extends 'news/base.html'%}

{% block title %}Kalit so'zni tiklash so'rovi{% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <center>
                <p><h3>Kalit so'zni tiklash so'rovi e-pochta manziliga jo'natildi</h3></p><br>
                    <form method="post">{% csrf_token %}
                    {{ form.as_p }}<br>
                    <button type="submit" class="btn btn-primary">YUBORISH</button><br>
                    </form>
            </center>
        </div>
      </div>
    </div>
</section>
{% endblock content %}





