{% extends 'news/base.html' %}
{% load static %}

{% block title %} foydalanuvchi parolini o'zgartirish {% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <div class="container">
                <center>
                    <h1>Parolni O'zgartirish</h1><br>
                        <p>Parolingizni o'zgartirish uchun quydagi formni to'ldiring</p><br>
                        <form method="post">{% csrf_token %}
                            {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Parolni almashtirish</button><br>
                        </form>
                <center>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}