{% extends 'news/base.html'%}

{% block title %}Foydalanuvchi Parolini Tiklash{% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <center>
                <p><h2>Parolni Tiklash</h2></p>
                    <p>Parolni o'zgartirish uchun quydagi formani to'ldiring</p>
                    {% if validlink %}

                        <p>Iltimos yangi parolni ikki marta kiriting</p>
                        <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Parolni almashtirish</button><br>
                        </form>
                    {% else %}
                        <p>Siz noto'g'ri linkkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi mumkun!</p>
                    {% endif %}
            </center>
        </div>
      </div>
    </div>
</section>
{% endblock content %}