{% extends 'news/base.html'%}

{% block title %}Foydalanuvchi paroli muvaffaqiyatli o'zgartirildi{% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <center>
                <p><h3>Parolingiz muvaffaqiyatli o'zgartirildi</h3></p><br><br>
                    <p>Sizning parolingiz qayta tiklandi. Endi qaytadan <a style="color: red" href="{% url 'login' %}">Login</a> qilishingiz mumkin </p>
            </center>
        </div>
      </div>
    </div>
</section>
{% endblock content %}