{% extends 'news/base.html' %}
{% load static %}

{% block title %} foydalanuvchi paroli o'zgardi {% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <div class="container">
                <center>
                    <h1>foydalanuvchi paroli o'zgardi </h1><br>
                        <p>{{ request.user.username }} sizning parolingiz muvaffaqiyatli o'zgartirildi.</p>
                <center>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}