{% extends 'news/base.html'%}

{% block title %}Parolni O'zgartirish{% endblock title %}

{% block content %}
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            <center>
                <h1>Parolni o'zgartirish uchun emailingizga xat yuborildi</h1>
                    <p>Sizning emailingizga parolni tiklash uchun link yuborildi</p>
                    <p>Agar sizning emailingizga link yuborilmagan bo'lsa qayta urinib ko'ring</p>
            </center>
        </div>
      </div>
    </div>
</section>
{% endblock content %}